<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/css/admin/aside.css">
    <link rel="stylesheet" href="/public/css/admin/top.css">
    <link rel="stylesheet" href="/public/css/admin/addVehicles.css">
    <link rel="icon" type="image/x-icon" href="/assets/logo-removebg-preview.png">

</head>
<body>
   
    <div class="container">
        <div class="content ">
            <div class="aside">
                <div class="user">
                    <img src="<%= adminData.imagePath %>" alt="User Image">
                    <h1>Name</h1>
                    <p><%= adminData.name %></p>
                </div>
                <div class="nav">
                    <div class="homepage flex">
                        <a href="/admin/dashboard">
                            <i class="fa-solid fa-house"></i>
                            <h1>Dashboard</h1></a>
                    </div>
                    <div class="car flex">
                        <a href="/admin/cars">
                            <i class="fa-solid fa-car"></i>
                            <h1>Cars</h1></a>
                    </div>
                    <div class="addCar flex active">
                        
                        <a href="/admin/addVehicles"3>
                            <i class="fa-solid fa-plus"></i>
                            <h1>Add Car</h1></a>
                    </div>
                    <div class="bookings flex">
                        <a href="/admin/bookedVehicles">
                            <i class="fa-solid fa-book"></i>
                            <h1>Bookings</h1></a>
                    </div>
                    <div class="Manage flex">
                        <a href="/admin/manageUsers">
                            <i class="fa-solid fa-people-group"></i>
                            <h1>Manage Users</h1></a>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="top">
                    <div class="left">
                        <h1>Cars</h1>
                        <p>Add  a new car to the platform.</p>
                    </div>
                    <div class="right">
                        <div class="nav">
                            <i class="fa-regular fa-user" id ="dropdown"></i>
                            <div class="dropdown-content">
                                <a href="/adminLogout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <form action="/<%if(isEditing){ %>editVehicles <% }else { %>addVehicles <% } %>" method="POST" enctype="multipart/form-data">
                        <% if(errorMessage){ %>
                            <div class="alert alert-danger">
                                <%= errorMessage %>
                            </div>
                        <% } %>
                        <div class="datas">
                            <div class="data inter">
                                <label for="name">Name of the Car:</label><br>
                                <input type="text" id="name" name="name" value="<% if(isEditing) { %><%=models.name %> <%} %>" required autocomplete="additional-name"><br>
                            </div>
                            <div class="data inter">
                                <label for="price">Price:</label><br>
                                <input type="number" id="price" name="price" value="<% if(isEditing) {%> <%=models.price%> <%} %>" required><br>           
                            </div>
                            <div class="data file">
                                <label for="image">Image:</label><br>
                                <input type="file" id= "image" name="image" required><br>
                            </div>
                            <div class="data inter">
                                <label for="year">Model Year:</label><br>
                                <input type="number" name="year" id="year" value="<% if(isEditing) {%> <%=Number(models.modelYear) %> <%} %>" required><br>
                            </div>
                            <div class="data file">
                                <label for="model">3D Model of the Car:</label><br>
                                <input type="file" name="model" id="model" required><br>
                            </div>
                            <input type="hidden" value="<% if(isEditing) {%> <%=models._id%> <%} %>" name="modelID">

                            <div class="data">
                                <label for="typeNames">Choose a Car Type:</label> 
                                <select name="typeNames" id="typeNames" > 
                                    <option value="suv">SUV</option> 
                                    <option value="electric">Electric</option> 
                                    <option value="sports">Sports</option> 
                                </select>
                            </div>
                        </div>
                        <div class="description">
                            <div class="data">
                                <label for="descriptionCar">Description of the Car:</label><br>
                                <textarea name="descriptionCar" id= "descriptionCar" rows="4" cols="50" colspan="2"><% if(isEditing){ %> <%=models.descriptionOfCar %><%} %></textarea><br>
                            </div>
                            <div class="data">
                                <label for="descriptionTyre">Description of the Tyre:</label><br>
                                <textarea name="descriptionTyre" id="descriptionTyre" rows="4" cols="50" colspan="2"><% if(isEditing) {%> <%=models.descriptionOfTyre %> <%} %></textarea><br>
                            </div>
                            <div class="data">
                                <label for="descriptionEngine">Description of the Engine:</label><br>
                                <textarea name="descriptionEngine" id="descriptionEngine" rows="4" cols="50" colspan="2"><% if(isEditing) {%> <%=models.descriptionOfEngine %> <%} %></textarea><br>
                            </div>
                            <% if(isEditing) { %>
                                <input type="hidden" value="<%= models._id %>" name="modelId">
                            <% } %>
                            <div id="button">
                                <button class="btn" type="submit"><% if(isEditing){ %>Update Model<% } else { %>Add Model<% } %></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/fd6ad446c7.js" crossorigin="anonymous"></script>
    <script>
        document.getElementById("dropdown").addEventListener("click", ()=>{
            const dropdown = document.querySelector(".dropdown-content")
            if(dropdown.style.display === "none"){
                console.log("inside if")
                dropdown.style.display = "block";
            } else {
                dropdown.style.display = "none";
            }
        })
    </script>
</body>
</html>
