<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/css/admin/aside.css">
    <link rel="stylesheet" href="/public/css/admin/top.css">
    <link rel="stylesheet" href="/public/css/admin/admin_car.css">
    <link rel="icon" type="image/x-icon" href="/assets/logo-removebg-preview.png">
</head>
<body>
    <div class="container">
        <div class="content ">
            <div class="aside">
                <div class="user">
                    <img src="<%= adminData.imagePath %>" alt="User Image">
                    <h1>Name</h1>
                    <p><%= adminData.name %></p>
                </div>
                <div class="nav">
                    <div class="homepage flex">
                        <a href="/admin/dashboard">
                            <i class="fa-solid fa-house"></i>
                            <h1>Dashboard</h1></a>
                    </div>
                    <div class="car flex">
                        <a href="/admin/cars">
                            <i class="fa-solid fa-car"></i>
                            <h1>Cars</h1></a>
                    </div>
                    <div class="addCar flex active">
                        
                        <a href="/admin/addVehicles"3>
                            <i class="fa-solid fa-plus"></i>
                            <h1>Add Car</h1></a>
                    </div>
                    <div class="bookings flex">
                        <a href="/admin/bookedVehicles">
                            <i class="fa-solid fa-book"></i>
                            <h1>Bookings</h1></a>
                    </div>
                    <div class="Manage flex">
                        <a href="/admin/manageUsers">
                            <i class="fa-solid fa-people-group"></i>
                            <h1>Manage Users</h1></a>
                    </div>
                </div>
            </div>
    
            <div class="main">
                <div class="top">
                    <div class="left">
                        <h1>Cars</h1>
                        <p>Check your cars</p>
                    </div>
                    <div class="right">
                        <div class="nav">
                            <i class="fa-regular fa-user" id ="dropdown"></i>
                            <div class="dropdown-content">
                                <a href="/adminLogout">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="table">
                        <h1>List of Cars</h1><br>
                        <table>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Model Year</th>
                                <th>Stocks</th>
                                <th>Actions</th>
                            </tr>
                            <% modelData.forEach(function(model){ %>
                                <tr>
                                    <td>
                                        <a href="/admin/car-details?id=<%=model._id%>"><%=model.name %></a>
                                    </td>
                                    <td><%=model.price %></td>
                                    <td><%=model.modelYear %></td>
                                    <td>
                                        <%=model.stocks %>
                                    </td>
                                    <td>
                                        <div class="edit">
                                            <a href="/admin/deleteModel?id=<%=model._id%>"  class="icon-link" data-name="Delete">
                                                <i id="delete" class="fa-solid fa-trash"></i>
                                            </a>
                                            <a href="/admin/addVehicles?edit=true&id=<%=model._id%>" class="icon-link" data-name="Edit">
                                                <i id="edit" class="fas fa-edit"></i>
                                            </a>
                                            <% if(!model.isHomePage)  { %> 
                                                <a href="/admin/changeHomePage?id=<%=model._id%>" class="icon-link" data-name="Add To Home Page">
                                                    <i id="homePage" class="fa fa-exchange"></i>
                                                </a>
                                            <% } %>
                                            <a href="/admin/addStocks?id=<%=model._id%>" class="icon-link" data-name="Add Stocks">
                                                <i id="add" class="fa-solid fa-add"></i>
                                            </a>
                                            <a href="/admin/removeStocks?id=<%=model._id%>" class="icon-link" data-name="Remove Stocks">
                                                <i id="remove" class="fa-solid fa-subtract"></i>
                                            </a>
                                        </div>
                                        
                                        
                                    </td>
                                </tr>
                            <% }) %>
                        </table>
                    </div>
                </div>
            </div> 
        </div> 
    </div>
    <script src="https://kit.fontawesome.com/fd6ad446c7.js" crossorigin="anonymous"></script>
    <script>
        document.getElementById("dropdown").addEventListener("click", ()=>{
            const dropdown = document.querySelector(".dropdown-content")
            if(dropdown.style.display === "none"){
                console.log("inside if")
                dropdown.style.display = "block";
            } else {
                dropdown.style.display = "none";
            }
        })
    </script>
</body>
</html>