<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="../../public/css/admin/aside.css">
    <link rel="stylesheet" href="../../public/css/admin/top.css">
    <link rel="stylesheet" href="../../public/css/admin/booking_admin.css">
    <link rel="icon" type="image/x-icon" href="/assets/logo-removebg-preview.png">
</head>
<body>
    <div class="container">
         <div class="content ">
             <div class="aside">
                <div class="user">
                    <img src="<%= adminData.imagePath %>" alt="User Image">
                    <h1>Name</h1>
                    <p><%= adminData.name %></p>
                </div>
                <div class="nav">
                    <div class="homepage flex">
                        
                        <a href="/admin/dashboard">
                            
                            <i class="fa-solid fa-house"></i>
                            <h1>Dashboard</h1></a>
                    </div>
                    <div class="car flex">
                        <a href="/admin/cars">
                            <i class="fa-solid fa-car"></i>
                            <h1>Cars</h1></a>
                    </div>
                    <div class="addCar flex">
                        
                        <a href="/admin/addVehicles"3>
                            <i class="fa-solid fa-plus"></i>
                            <h1>Add Car</h1></a>
                    </div>
                    <div class="bookings flex active">
                        <a href="/admin/bookedVehicles">
                            <i class="fa-solid fa-book"></i>
                            <h1>Bookings</h1></a>
                    </div>
                    <div class="Manage flex">
                        <a href="/admin/manageUsers">
                            <i class="fa-solid fa-people-group"></i>
                            <h1>Manage Users</h1></a>
                    </div>
                </div>
            </div> 
             <div class="main">
                <div class="top">
                    <div class="left">
                        <h1>Bookings</h1>
                        <p>Available Orders</p>
                    </div>
                    <div class="right">
                            <div class="nav">
                                <i class="fa-regular fa-user" id ="dropdown"></i>
                                <div class="dropdown-content">
                                    <a href="/adminLogout">Logout</a>
                                </div>
                            </div>
                        <div class="download">
                            <a href="#">
                                <i class="fa-solid fa-download"></i>
                                    <h1>DOWNLOAD REPORTS</h1>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <div class="table">
                        <div id="head">
                            <h1>List Of Orders</h1>
                            <div class="filter">
                                <i class="fa-solid fa-arrow-up-short-wide"></i>
                            
                            </div>
                        </div>
                        <div class="maintable">
                            <table class="all sectable">
                                <tr>
                                    <th>Full Name</th>
                                    <th>Car</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Contact</th>
                                </tr>
                                <% orderData.forEach(function(data) { %>                                        <tr>
                                            <td> 
                                                <%=data.FullName %>
                                            </td>
                                            <td>
                                                <%=data.carName %>
                                            </td>
                                            <td> <%= data.email%> </td>
                                            <td><%= data.status %></td>
                                            
                                            <td>
                                                <%= data.contactNumber %>
                                            </td>
                                        </tr>
                                    <% }) %>  
                            </table>
                            <table class="pending sectable">
                                <tr>
                                    <th>Full Name</th>
                                    <th>Car</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Contact</th>
                                </tr>
                                
                                <tr> 
                                <% orderData.forEach(function(data) { %> 
                                    <% if(data.status == "pending"){ %>
                                            <td> 
                                                <%=data.FullName %>
                                            </td>
                                            <td>
                                                <%=data.carName %>
                                            </td>
                                            <td> <%= data.email%> </td>
                                            <td><%= data.status %></td>
                                            
                                            <td>
                                                <%= data.contactNumber %>
                                            </td>
                                        </tr>
                                        <% } %>
                                    <% }) %>  
                            </table>
                            <table class="approve sectable">
                                <tr>
                                    <th>Full Name</th>
                                    <th>Car</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Contact</th>
                                </tr>
                                
                                <tr> 
                                <% orderData.forEach(function(data) { %> 
                                    <% if(data.status == "approve"){ %>
                                            <td> 
                                                <%=data.FullName %>
                                            </td>
                                            <td>
                                                <%=data.carName %>
                                            </td>
                                            <td> <%= data.email%> </td>
                                            <td><%= data.status %></td>
                                            
                                            <td>
                                                <%= data.contactNumber %>
                                            </td>
                                        </tr>
                                        <% } %>
                                    <% }) %>  
                            </table>
                            <table class="cancel sectable">
                                <tr>
                                    <th>Full Name</th>
                                    <th>Car</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Contact</th>
                                </tr>
                                
                                <tr> 
                                <% orderData.forEach(function(data) { %> 
                                    <% if(data.status == "cancel"){ %>
                                            <td> 
                                                <%=data.FullName %>
                                            </td>
                                            <td>
                                                <%=data.carName %>
                                            </td>
                                            <td> <%= data.email%> </td>
                                            <td><%= data.status %></td>
                                            
                                            <td>
                                                <%= data.contactNumber %>
                                            </td>
                                        </tr>
                                        <% } %>
                                    <% }) %>  
                            </table>

                        </div>
                    </div>
                </div>
            </div> 
        </div> 
    </div>
    
        
    <script src="https://kit.fontawesome.com/fd6ad446c7.js" crossorigin="anonymous"></script>
    <script>
        document.getElementById("dropdown").addEventListener("click", ()=>{
            const dropdown = document.querySelector(".dropdown-content")
            if(dropdown.style.display === "none"){
                console.log("inside if")
                dropdown.style.display = "block";
            } else {
                dropdown.style.display = "none";
            }
        })
        const all = document.querySelector('.all')
        const pending = document.querySelector('.pending')
        const approve = document.querySelector('.approve')
        const cancel = document.querySelector('.cancel')
        document.querySelector('.filter').addEventListener('click',()=>{
            all.style.visibility = 'hidden'
            pending.style.visibility = 'visible'
        })
    </script>
</body>
</html>