<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Car</title>
    <link rel="icon" type="image/x-icon" href="/assets/otherImages/logo-removebg-preview.png">
    <link rel="stylesheet" href="/public/css/bookCar.css">
   
</head>
<body>
    <a href="/modelview?<%=vehicleData._id%>" id="logo">Go Back</a>
    <div class="top">
        <img src="<%= vehicleData.imageUrl %>" alt="Image From Database">
        <div class="head">
            <% if(userData) { %>
                <h1>Welcome <%= userData.username %></h1> 
            <% } %>
            <h1>Name</h1>
            <h1><%= vehicleData.name %></h1>
        </div>
        <div class="clip">
            <div class="inclip">
                <h1>Price</h1>
                <h2>NPR <%= vehicleData.price %></h2>
                <p style="color: red;"><%= message %></p>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="left box">
            <% if(vehicleData) { %>
            <img src="/assets/otherImages/black-big-car-side-view.png" alt="">
            <h1>About car</h1>
            <p><%= vehicleData.descriptionOfCar %></p>
        </div>
        <div class="right box">
            <img src="/assets/otherImages/wheel.png" alt="">
            <h1>Tyre</h1>
            <p><%= vehicleData.descriptionOfTyre %></p>
        </div>
        <div class="left box">
            <img src="/assets/otherImages/car-engine.png" alt="">
            <h1>Engine</h1>
            <p><%= vehicleData.descriptionOfEngine %></p>
            <%} %>
        </div>
        <div class="alert form">
            <form action="<% if(isAvailable) { %>/booking?hS=true <% }else{%> /booking?hS=false <%} %>" method="post">
                <input type="hidden" name="vehicleId"  value=<%= vehicleData._id %> />
                <label for="advancePayment">Advance Payment</label>
                <input type="number" name="advancePayment" id="advancePayment" value="1000">
                <button type="submit">Confirm</button>
            </form>
        </div>
        
    </div>
</body>
</html>