<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Your Action</title>
    <link rel="icon" type="image/x-icon" href="/assets/otherImages/logo-removebg-preview.png">
</head>
<body>
    <div class="alert form" >
        <form action="/confirmBookCar" method="post">
            <input type="hidden" name="vehicleId" value="<%=modelId %>"/>
            <% if(!hasStocks) { %>
                <input type="hidden" name="stocks" value="0">
            }
            <div class="data">
                <label for="FirstName">First Name:</label><br>
                <input type="text" name="firstName" id="FirstName" value="<%= (userData.firstName || '') %>" required><br>
            </div>
            <div class="data">
                <label for="LastName">Last Name:</label><br>
                <input type="text" name="lastName" id="LastName" value="<%= (userData.lastName || '') %>" required><br>
            </div>
            <div class="data colortype">
                <label for="typeNames">Choose a color of car:</label> 
                <select name="color" id="typeNames" > 
                    <option value="white">White</option> 
                    <option value="black">Black</option> 
                    <option value="blue">Blue</option> 
                </select>
            </div>
            <div class="data">
                <label for="email">Email</label><br>
                <input type="email" name="email" id="email" value="<%=userData.email%>" readonly><br>
            </div>
            <div class="data">
                <lab el for="Address">Address:</lab><br>
                <input type="text" name="address" id="Address" placeholder="Street Number and Street Name" value="<%= (userData.address || '') %>" required><br>
            </div>
            <div class="data">
                <label for="contactNumber">Contact Number:</label><br>
                <input type="number" name="phoneNumber" id="contactNumber" value="<%= (userData.contactNumber || '') %>" required> <br>
            </div>
            
            <button type="submit">Confirm Your Booking</button>
            
        </form>
    </div>
</body>
</html>