<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/public/css/vehicles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
  <title>All Vehicles</title>
  <link rel="icon" type="image/x-icon" href="/assets/otherImages/logo-removebg-preview.png">

</head>
<body >
  <div class="nav">
    <div class="navl">
      <a href="/" id="logo"><img src="/assets/otherImages/logo-removebg-preview.png" alt=""></a>
    </div>
    <div class="navr">
      <a href="/vehicles" id="moveall"><h3>Vehicles</h3></a>
      <a id="move" href="/about"><h3>About</h3></a>
      <a id="move" href="/contact"><h3>Contact</h3></a>
      <div id='circle' ><i class="fa-solid fa-plus"></i></div>
    </div>
  </div>
  <div class="main">
    <div class="container">
      <div class="types">
        <ul>
          <li id="suv">SUV</li>
          <li id="electric">Electric</li>
          <li id="sport">Sports</li>
        </ul>
      </div>
    </div>
    <div class="car_container">
      <% if (vehiclesData) { %>
        <div class="suv whole_container">
            <% vehiclesData.forEach(function(vehicle) { %>
          <% if(vehicle.type === 'suv'){ %>
              <div class="single_container">
                <a href="/modelview?<%=vehicle._id%>" class="model">
                  <img src="/<%= vehicle.imageUrl %>" alt="Single Image from Database"/>
                  <h2><%= vehicle.name %></h2>
                  <p>NRP <%= vehicle.price %></p>
                  <div id="stock">
                    <h3>Stocks: <%=vehicle.stocks %> Available</h3>
                  </div>
                </a>
              </div>
              <% }  %>
       <% })  %>
            </div>

            <div class="electric whole_container">
              <% vehiclesData.forEach(function(vehicle) { %>
          <% if(vehicle.type === "electric") { %>
              <div class="single_container">
                <a href="/modelview?<%=vehicle._id%>" class="model">
                  <img src="/<%= vehicle.imageUrl %>" alt="Single Image from Database"/>
                  <h2><%= vehicle.name %></h2>
                  <p>NRP <%= vehicle.price %></p>
                  <div id="stock">
                    <h3>Stocks: <%=vehicle.stocks %> Available</h3>
                  </div>
                </a>
              </div>
              <% } %>
              <% }) %>
            </div>

            <div class="sport whole_container">
              <% vehiclesData.forEach(function(vehicle) { %>
              <% if(vehicle.type === "sports") { %>
              <div class=" single_container">
                <a href="/modelview?<%=vehicle._id%>" class="model">
                  <img src="/<%= vehicle.imageUrl %>" alt="Single Image from Database"/>
                  <h2><%= vehicle.name %></h2>
                  <p>NRP <%= vehicle.price %></p>
                  <div id="stock">
                    <h3>Stocks: <%=vehicle.stocks %> Available</h3>
                  </div>
                </a>
              </div>
              <% } %>
              <% }) %>
            </div>
        
      <% } %>
    </div>
  </div>
  <script>
    const suv = document.querySelector('#suv');
    const electric = document.querySelector('#electric');
    const sport = document.querySelector('#sport');

    const suv_m = document.querySelector('.suv');
    const electric_m = document.querySelector('.electric');
    const sport_m = document.querySelector('.sport');



    sport.addEventListener('click',()=>{
      suv_m.style.visibility='hidden';
      electric_m.style.visibility='hidden';
      sport_m.style.visibility='visible';
    })
    electric.addEventListener('click',()=>{
      suv_m.style.visibility='hidden';
      electric_m.style.visibility='visible';
      sport_m.style.visibility='hidden';
    })
    suv.addEventListener('click',()=>{
      suv_m.style.visibility='visible';
      electric_m.style.visibility='hidden';
      sport_m.style.visibility='hidden';
    })
  </script>
</body>
</html>